body {
    display: grid;
    margin: 0;
    height: 100vh;
    background-image: url(./Design\ sans\ titre\ \(1\).svg);
    background-size: cover;
}

.mainContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 45% 1fr;
    grid-template-rows: 10rem 1fr 5rem;
    justify-content: space-around;
}

.header {
    grid-column: span 2;
    grid-template-rows: minmax(2rem, 4rem);
    grid-template-areas: "header";
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    display: grid;
}

.logo {
    grid-column: 1;
    height: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    padding-top: 2em;
    padding-left: 2em;
}


.search-bar {
    display: flex;
    padding-top: 2em;
    padding-right: 2em;
    grid-column: 2;
    justify-self: end;
    justify-items: baseline;
}

.search {
    height: 2em;
    width: 30em;
    border-radius: 20px;
    text-align: center;
    background-color: gainsboro;
    border: none;
}

.search:focus {
    outline: none;
}

.search::placeholder {
    border: none;
    color: white;
}

.button {
    border: none;
    border-radius: 50%;
    background-color: white;
    vertical-align: baseline;
}

.button img {
    max-height: 1.5em;
}

/* .centerContainer {
    /* margin-top: 2%; 
display: grid;
/* grid-template-columns: repeat(2, 1fr);
    /* grid-auto-flow: row;
    grid-template-areas: "main";
    align-items: center;
    justify-content: space-between;
} */

.about {
    justify-self: center;
    align-self: center;
    text-align: center;
}

.daily {
    justify-content: center;
    align-items: center;
    grid-column: 2;
    display: flex;
}

#dailyImage {
    /* display: grid; */
    max-height: 67em;
    max-width: 67em;
    object-fit: cover;
    align-items: center;


}

.footer {
    grid-column: span 2;
}