body {
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.titre {
    text-align: center;
}

.intro {
    text-align: center;
}

.logo img {
    max-width: 15%;
    padding-left: 2rem;
}

.topPage {
    margin: 2vh 1vh 5vh;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    /* padding-top: 2rem; */
    align-items: center;
}

.search-bar {
    display: flex;
    padding-right: 2rem;
    max-height: 30px;
    text-align: center;
    justify-content: flex-end;
}

.search {
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
}

.button {
    margin-left: 1rem;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about,
.daily {
    border: solid red 2px;
    max-height: 60rem;
    width: 100%;
    /* height: 100%; */
    align-self: stretch;
}

#dailyImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}